@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --cor1: #4C48D9;
    --cor2: #F24B78;
    --cor3: #A0BED9;
    --cor4: #6B98BF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--cor1);
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

main,
.board-container {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

#title {
    background: var(--cor2);
    color: var(--cor1);
    border-radius: 10px;
}

.board-container {
    background: #fff;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 17px 31px 58px -38px rgba(0,0,0,0.62);
}

#board {
    display: grid;
}

.row {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

#square1,
#square2,
#square3 {
    border-bottom: 3px solid black;
}

#square7,
#square8,
#square9 {
    border-top: 3px solid black;
}

#square1,
#square4,
#square7 {
    border-right: 3px solid black;
}

#square3,
#square6,
#square9 {
    border-left: 3px solid black;
}

.playerOne {
    border-radius: 100%;
    outline: 8px solid var(--cor1);
    width: 50%;
    height: 50%;
}

.playerTwo {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor2);
    font-size: 65px;
    font-weight: 700;
}

.playerTwo::before {
    content: 'X';
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: nowrap row;
}

.player {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background: var(--cor3);
    border: 4px solid var(--cor4);
    font-weight: 700;
    border-radius: 10px;
}

.player-name {
    color: #fff;
}

#player-o {
    color: var(--cor1);
}

#player-x {
    color: var(--cor2);
}

.btn-container {
    display: flex;
    align-items: center;
    flex-flow: nowrap row;
    justify-content: center; 
}

#btnReset {
    background: #fff;
    border: none;
    width: 25%;
    height: 25px;
    border-radius: 5px;
    color: #333;
}

@media only screen
    and (min-width: 320px)
    and (max-width: 768px) {
        #title h1 {
            font-size: 1.25em;
            padding: 0.5em;
        }
        
        .board-container {
            width: 275px;
            height: 275px;
        }

        #board {
            width: 225px;
            grid-template-columns: 225px;
            grid-template-rows: repeat(3, 75px);
        }

        .row {
            width: 225px;
            height: 75px;
        }

        .square {
            width: 75px;
            height: 75px;
        }

        .player-container{
            width: 275px;
        }

        .btn-container {
            width: 275px;
        }
}

@media only screen
    and (min-width: 769px)
    and (max-width: 1200px) {
        #title h1 {
            font-size: 1.25em;
            padding: 0.5em;
        }
        
        .board-container {
            width: 275px;
            height: 275px;
        }

        #board {
            width: 225px;
            grid-template-columns: 225px;
            grid-template-rows: repeat(3, 75px);
        }

        .row {
            width: 225px;
            height: 75px;
        }

        .square {
            width: 75px;
            height: 75px;
        }

        .player-container{
            width: 275px;
        }

        .btn-container {
            width: 275px;
        }
}

@media only screen
    and (min-width: 1201px)
    and (max-width: 1600px) {
        #title h1 {
            font-size: 1.5em;
            padding: 0.5em;
        }
        
        .board-container {
            width: 350px;
            height: 350px;
        }

        #board {
            width: 315px;
            grid-template-columns: 315px;
            grid-template-rows: repeat(3, 105px);
        }

        .row {
            width: 315px;
            height: 105px;
        }

        .square {
            width: 105px;
            height: 105px;
        }

        .player-container{
            width: 375px;
        }

        .btn-container {
            width: 375px;
        }
}
    